@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@400;500;600;700&family=Cooper+Black&display=swap');


:root {

  --background:#F8F4ED;
  --sections:#9FAFB3;
  --cta:#D97706;
  --header:#1D1207;

  --title:#141414;
  --description:#2A2A2A;
  --light:#3D3D3D;

}


body{

  margin:0;

  font-family:"Inter", sans-serif;

  background:#222;

}


.font-logo{

  font-family:"Great Vibes", cursive;

}


.font-title{

  font-family:"Cooper Black", serif;

}